<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
	<PropertyGroup>
		<WebPublishMethod>Package</WebPublishMethod>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish />
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>fe2fe614-d0dd-4744-8915-77e0919d5018</ProjectGuid>
		<DesktopBuildPackageLocation>bin\Release\net6.0\publish\HRM.API.zip</DesktopBuildPackageLocation>
		<PackageAsSingleFile>true</PackageAsSingleFile>
		<DeployIisAppPath>HRM.Web</DeployIisAppPath>
		<_TargetId>IISWebDeployPackage</_TargetId>
	</PropertyGroup>
</Project>